body {
    font-family: 'Roboto', sans-serif;
}

.app {
    text-align: center;
    margin: auto;
    max-width: 500px;
    border-radius: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

h1 {
    transform: scale(1, .9);
}